body {
	margin : 10px;
	padding: 0px;
}

#menu {
	border-bottom : 1px solid #000;
	margin : 0;
	padding-bottom : 19px;
	padding-left : 10px;
}

#menu ul, #menu li	{
	display : inline;
	list-style-type : none;
	margin : 0;
	padding : 0;
}

	
#menu a:link, #menu a:visited	{
	background : #E0FFFF;
	border : 1px solid #000;
	color : #000;
	float : left;
	font-size : small;
	font-weight : bold;
	line-height : 14px;
	margin-right : 8px;
	padding : 2px 10px 2px 10px;
	text-decoration : none;
}

#menu a:link.active, #menu a:visited.active	{
	background : #E0FFFF;
	border-bottom : 1px solid #E0FFFF;
	color : #000;
}

#menu a:hover	{
	color : #f00;
}

	
body.section-1 #menu li#nav-1 a, 
body.section-5 #menu li#nav-5 a, 
body.section-2 #menu li#nav-2 a,
body.section-3 #menu li#nav-3 a,
body.section-4 #menu li#nav-4 a {
	background : #9ce6f3;
	border-bottom : 1px solid #fff;
	color : #000;
}

#menu #subnav-1,
#menu #subnav-5,
#menu #subnav-2,
#menu #subnav-3,
#menu #subnav-4 {
	display : none;
	width: 90%;
}

body.section-1 #menu ul#subnav-1, 
body.section-5 #menu ul#subnav-5, 
body.section-2 #menu ul#subnav-2,
body.section-3 #menu ul#subnav-3,
body.section-4 #menu ul#subnav-4 {
	display : inline;
	left : 10px;
	position : absolute;
	top : 95px;
}

body.section-1 #menu ul#subnav-1 a, 
body.section-5 #menu ul#subnav-5 a, 
body.section-2 #menu ul#subnav-2 a,
body.section-3 #menu ul#subnav-3 a,
body.section-4 #menu ul#subnav-4 a {
	background : #E0FFFF;;
	border : none;
	border-left : 1px solid #000;
	color : #555;
	font-size : smaller;
	font-weight : bold;
	line-height : 10px;
	margin-right : 4px;
	padding : 2px 10px 2px 10px;
	text-decoration : none;
}

 #menu ul a:hover {
	color : #f00 !important;
}

#contents {
	background : #E0FFFF;;
	border : 1px solid #000;
	border-top : none;
	clear : both;
	margin : 0px;
	padding : 15px;
}
