form {background-color: #C2FFA3;}
div#after-form {background-color: #C2FFA3;}
body {background-color: #C2FFA3;}

.vnitrni {border: 3px solid #36B538; padding:10px; }

.olfg {background-color:#36B538; }
.olfgmath {background-color:#C2FFA3; }

.mainmenu, #maw_calculator {background-color: #36B538; color:black;}
#odkaz_hlavicka {border-color: #36B538;}

div#main a {color: #1782B0;}
.support a {color: #1782B0;} 
div#maw_calculator a {color: #4726C2;}

div#odkaz_hlavicka a {color: #333; border-color: #333; 
border-left: 2px solid  #333; color:#333;}

div#after-form {color: red;}

.red{color: #E81046;}
div#odkaz_hlavicka a:hover   {color: #E81046;}

input.design_button { background-color:transparent;
   border-style:none; color:#1782B0; font-size: 75%;}

input.design_button:hover {color:#AA00AA;}

div#design_button {text-align: center;   width: 100%;} 

#aftermenu {display: none;}
ul.maw_menu {white-space: nowrap; overflow: auto;}

ul.submenu {white-space: nowrap; overflow: auto;}

.maw_menu, .submenu {
   text-shadow: 0 0 8px rgba(100,100,100,1);
}

#odkaz_hlavicka .maw_active a { text-shadow: 0 0 0 rgba(0.1,0.1,0.1,0.4);}
#odkaz_hlavicka a:hover   { text-shadow: 0 0 0 rgba(0.1,0.1,0.1,0.4);}

