ul.submenu {display:block; position: static; width:210px;}
.submenu {display:block; position: static; }

li:hover .submenu {display:block; position: static; }

.submenu{background-color: #c2ffa3; border: 0;}