.support{font-size:75%; text-align:right; height:10px;}

form {background-color: #C2FFA3; margin:2px; padding:10px;}
div#after-form {background-color: #C2FFA3;}
body {background-color: #C2FFA3;}

.olfg {background-color:#36B538; margin:0px; font-size: 80%; list-style-type: none;}
.olfgmath {background-color:#C2FFA3; }

div#maw_calculator {background-color: #36B538;;  width: 75%; position:absolute; margin-left:210px; }

#main_body {position:relative;}

.mainmenu{background-color: #C2FFA3; color:black; width:210px; float:left; position:absolute; font-size: 80%;}

div#support a {color: #333;}

div#main a {color: #1782B0;}

div#maw_calculator a {color: #4726C2;}

ul.maw_menu {white-space: normal; overflow: visible;}
ul.submenu {white-space: normal; overflow: visible;}
.maw_menu, .submenu {text-shadow: 0 0 0px rgba(100,100,100,1);}

div#odkaz_hlavicka a {color: #333; border-color: #333; border-left: 0px; white-space: normal; }

#odkaz_hlavicka .maw_active a { border-left: 0px solid #555; border-bottom: 0px; color:#000;}

.submenu .maw_active a{color: red;}

/* .vnitrni {margin:6px;} */

.red{color: #E81046;}
.submenu a:hover   {color: #E81046;}
div#odkaz_hlavicka a:hover   {color: #E81046;}

#odkaz_hlavicka ul li {display: list-item; list-style-type:none; text-indent:-20px; margin-left:20px; }
li {border: none; text-indent:0px; margin-left:0px;}

.noncompact, #aftermenu, #history, #comments, #user, #maw_tail, .submit_comment, .hint_preview {display: none;}

.submenu{background-color: #c2ffa3; border: 5px solid #36B538; margin-left: 10px; margin-top: 30px;}

.submenu_container {border: 2px solid #666; -moz-box-shadow: 5px 5px 2px #111111; /* Firefox 3.6 and earlier */
box-shadow: 5px 5px 5px #222;}

div#flags-right, .support, #subtitle, #subsubtitle{display:none;}

.submenu_container {font-size:90%; display:none; width:250px; z-index: 1;}

li:hover .submenu_container {display:block; position: absolute; left: 10px; top: 5px; }

#odkaz_hlavicka li:hover { position: relative;}

.mainmenu {font-size:100%;}

#odkaz_hlavicka a {line-height: 100%;}
.submenu li, .mainmenu li {margin-bottom: 10px;}

#odkaz_hlavicka {border: none;}

